body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  overflow-x: hidden;
  background: #f4f6fc;
}
ul,
li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.header-inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header {
  position: fixed;
  width: 100%;
  z-index: 99;
  background: #fff;
  top: 0;
}
/* Header Left */
.header-left {
  display: flex;
  align-items: center;
}
.user-image {
  margin-right: 10px;
  position: relative;
}
.user-image img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.user-image span {
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 0 0 22px 3px;
  background-color: #2fbf68;
  left: 21px;
}
.username {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.4px;
  color: #3d3d3d;
}
.user-position {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.4px;
  color: #3d3d3d;
}

/* Header Center */

.header-search {
  width: 280px;
  height: 32px;

  padding: 4px 79px 4px 4px;
  border-radius: 8px;
  border: solid 2px #d4d5d7;
  display: flex;
  align-items: center;
}
.btn-search {
  order: -1;
  background: none;
  border: none;
  padding-left: 0 !important;
  cursor: pointer;
  /* transition: 0.3s all ease-in-out; */
  padding: 6px 0 0 0 !important;
}
.btn-search img {
  width: 24px;
}
.btn-search:hover {
  opacity: 0.7;
}
.header-search input[type="text"] {
  margin: 4px 0 4px 4px;
  opacity: 0.4;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.4px;
  color: #3d3d3d;
  width: 100%;
  border: none;
  order: 2;
}
.header-search input[type="text"]:focus,
.btn-search:focus {
  outline: none;
}

/* Header Right */
.header-icon {
  display: flex;
  padding: 0;
}
.header-icon li {
  padding: 0;
  margin-right: 0;
}
.detail {
  background: url("../image/policy.png") no-repeat;
  width: 39px;
  height: 39px;
  cursor: pointer;
}

.search-table ul:hover .detail,
.search-table ul.selected .detail {
  background: url("../image/active-policy.png") no-repeat;
}
.orange {
  background-color: #fce4bd;
}
.red {
  background-color: #ffcfc7;
}
.green {
  background-color: #c0ebd1;
}
.user-group {
  display: flex;
  align-items: center;
}
/* font-family: "Roboto", sans-serif; */

/* Date Picker */
.ui-datepicker {
  width: 17em;
  padding: 0.2em 0.2em 0;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 45%;
}
.ui-datepicker table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}
.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: 0.7em 0 0 0;
  padding: 0 0.2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: 0.5em 0.2em 0.4em;
  cursor: pointer;
  padding: 0.2em 0.6em 0.3em 0.6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 0.4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
  background: #e4e4e4;
}
.ui-widget-header {
  border: 1px solid #dddddd;
  background: #e9e9e9;
  color: #333333;
  font-weight: bold;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: none;
  font-weight: normal;
  color: #454545;
}
.ui-datepicker .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  left: 0.5em;
  top: 0.3em;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620;
}

/* Date Picker Over */
section.search-result {
  padding-top: 50px;
}
.search-result-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 2px solid #d4d5d7;
  margin-top: 85px;
}
.search-result-left {
  display: flex;
  align-items: center;
  width: 40%;
}
.search-result-left p,
.search-result-left h3 {
  margin: 0;
}
.search-result-left h3 {
  font-family: Roboto;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 0.4px;
  color: #3d3d3d;
  margin: 0 26px 0 0;
}
.search-result-left p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #3d3d3d;
}
.search-result-right {
  display: flex;
  align-items: center;
  width: 60%;
}
.search-result-right .right-box {
  width: calc(100% / 3 - 20px);
  margin: 0 10px;
}
.dtp {
  padding: 0px 8px 0px 16px;
  border-radius: 8px;
  border: solid 2px #d4d5d7;
  height: 40px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #3d3d3d;
  width: 87%;
}
.static-header li {
  margin-bottom: 5px !important;
}
.medibank select {
  padding: 0px 0px 0px 16px;
  border-radius: 8px;
  border: solid 2px #d4d5d7;
  width: 100%;
  height: 43px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #3d3d3d;
  appearance: none;
  background: url("../image/dropdown.png") no-repeat;
  background-position: right 3px center;
}
.filter input[type="text"] {
  padding: 0px 8px 0 35px;
  border-radius: 8px;
  border: solid 2px #d4d5d7;
  height: 40px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #3d3d3d;
}
.filter.right-box {
  position: relative;
}
.filter.right-box::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: url("../image/filter-icon.png") no-repeat;
  top: 11px;
  left: 8px;
}
.medibank select:focus,
.filter input[type="text"]:focus,
.dtp:focus {
  outline: none;
}
/* search table */

.search-table {
  padding-top: 50px;
}

.search-table ul {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 25px;
}
.search-table li:nth-child(2) {
  margin-left: -70px;
}
.search-table ul:nth-child(even) {
  background: #f4f6fc;
}
.search-table ul:nth-child(odd) {
  background: #fff;
}
.search-table ul li span {
  margin: 0 0 2px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #3d3d3d;
}
.create-claim .btn {
  display: inline-block;
}
.search-table ul li p {
  margin: 2px 0 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #3d3d3d;
}
.btn-default {
  border: solid 2px #424242;
  color: #3d3d3d;
}

#datepicker::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder {
  color: #3d3d3d;
}
#datepicker::-moz-placeholder,
input[type="text"]::-moz-placeholder {
  color: #3d3d3d;
}
#datepicker:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder {
  color: #3d3d3d;
}
#datepicker:-moz-placeholder,
input[type="text"]:-moz-placeholder {
  color: #3d3d3d;
}
.action-tabs {
  padding: 16px 0px 16px 0px;
  box-shadow: 0 7px 8px -4px rgba(177, 187, 217, 0.2),
    0 5px 22px 4px rgba(177, 187, 217, 0.12),
    0 12px 17px 2px rgba(177, 187, 217, 0.14);
  background-color: #ffffff;
  margin-top: 75px;
  display: none;
}
.ui-widget-header {
  border: none;
  background: none;
  color: #333333;
  font-weight: bold;
  margin: 0;
  padding-left: 0;
  border: none;
  display: flex;
}
.ui-tabs-nav a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #3d3d3d;
  text-decoration: none;
  border-radius: 2px;
}
.ui-tabs-nav li {
  min-width: 160px;
  border: none !important;
}
#tabs {
  border: none;
  background: none;
}
.ui-tabs-nav .ui-state-active {
  border-bottom: 4px solid #6ebec3 !important;
  padding-bottom: 6px;
}
.ui-tabs-nav a:focus {
  outline: none;
}
.new-policy ul {
  padding: 0 15px 0 15px;
  border-radius: 10px;
  border: solid 2px #d4d5d7;
  display: flex;
  justify-content: space-between;
}
.new-policy ul li {
  flex-direction: column;
  display: flex;
  padding: 15px 0 10px;
  border-right: 2px solid #d4d5d7;
  width: calc(100% / 4 - 20px);
}
.new-policy ul li span {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #3d3d3d;
  margin-bottom: 5px;
  display: inline-block;
}
.new-policy input[type="text"],
.new-policy select {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #3d3d3d;
  border: none;
}
.new-policy select {
  color: rgb(61 61 61 / 0.24) !important;
  appearance: none;
  background: url("../image/dropdown.png") no-repeat;
  background-position: right center;
}

.new-policy input[type="text"]::-webkit-input-placeholder {
  color: rgb(61 61 61 / 0.24);
}
.new-policy input[type="text"]::-moz-placeholder {
  color: rgb(61 61 61 / 0.24);
}
.new-policy input[type="text"]:-ms-input-placeholder {
  color: rgb(61 61 61 / 0.24);
}
.new-policy input[type="text"]:-moz-placeholder {
  color: rgb(61 61 61 / 0.24);
}
.new-policy input[type="text"]:focus,
.new-policy select:focus,
.search-btn:focus {
  outline: none;
}
.search-btn {
  width: 44px;
  height: 44px;
  background: #3ca0bd;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.search-btn:hover {
  background: #3d3d3d;
}
.search-btn img {
  width: 32px;
  mix-blend-mode: color-dodge;
}
.new-policy select option {
  color: #3d3d3d;
}
.new-policy ul li.last-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.partner-select {
  display: flex;
  flex-direction: column;
  width: 110px;
}
.new-policy ul li.last-li {
  border-right: none;
}
.ui-tabs-nav a:focus {
  outline: none;
}
input#datepicker-2 {
  padding: 0px 8px 0px 16px;
  border-radius: 8px;
  border: solid 2px #d4d5d7;
  max-width: 280px;
}
input#datepicker-2::-webkit-input-placeholder {
  color: #3d3d3d;
}
#tabs-1 {
  padding-bottom: 15px;
}
.action-btn-wrapper ul {
  border: none;
  border-top: 1px solid #d4d5d7;
  border-radius: 0;
  margin-bottom: 0;
  justify-content: flex-start;
  padding-left: 0;
}
.new-policy .action-btn-wrapper li {
  border-right: none;
  width: auto;
  margin-right: 16px;
}

/* Sidebar */

.sidebar {
  width: 400px;
  height: 200px;
  margin: 0;
  padding: 0 0 0px;
  box-shadow: 0 3px 5px -1px rgba(177, 187, 217, 0.2),
    0 1px 18px 0 rgba(177, 187, 217, 0.12),
    0 6px 10px 0 rgba(177, 187, 217, 0.14);
  background-color: #ffffff;
  float: right;
  padding-left: 45px;
  padding-right: 45px;
  position: fixed;
  top: 80px;
  right: -100%;
  transition: 0.5s all ease-in-out;
  overflow-y: scroll;
  min-height: 85vh;
  padding-bottom: 50px;
  z-index: 999;
}
.sidebar.show-sidebar {
  right: 0;
  padding-top: 30px;
}
.sidebar-header {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  margin-left: -43px;
}
#accordion-inner .ui-accordion-content {
  height: auto !important;
  margin-top: 15px;
}
.sidebar-header h3 {
  width: 86%;
  padding-left: 12px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin: 0;
}
#accordion-inner-3 h3 {
  border-bottom: 2px solid #d4d5d7;
  padding-bottom: 10px;
}
span.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .ui-accordion-content {
  height: auto !important;
}
.sidebar ul li span {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
}
.sidebar ul li p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.4px;
  margin: 0;
}
.sidebar ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.sidebar ul li {
  width: 50%;
  margin-bottom: 20px;
}
.static-header {
  border-top: 2px solid #d4d5d7;
}
.master-ul ul {
  flex-wrap: nowrap;
}
.master-ul li {
  position: relative;
  padding-left: 25px;
}
.master-ul.active li:first-child:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 4px;
  background: #2fbf68;
  left: 0;
  border-radius: 2px;
}
.master-ul.active li:nth-child(2):before {
  position: absolute;
  content: "";
  height: 100%;
  width: 22px;
  background: url(../image/check.png) no-repeat;
  left: -13px;
  border-radius: 2px;
  top: 14px;
}

.master-ul.in-active li:first-child:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 4px;
  background: #ff5f47;
  left: 0;
  border-radius: 2px;
}
.master-ul.in-active li:nth-child(2):before {
  position: absolute;
  content: "";
  height: 100%;
  width: 22px;
  background: url(../image/in-active.png) no-repeat;
  left: -13px;
  border-radius: 2px;
  top: 14px;
}

ul.master-ul {
  flex-wrap: nowrap;
  border-bottom: 2px solid #d4d5d7;
}
.ui-state-default {
  border: none;
  background: transparent;
  margin: 0;
}
.static-header {
  border-top: 2px solid #d4d5d7;
  border-bottom: 2px solid #d4d5d7;
  padding: 10px 0;
}

.ui-state-default:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.policy-version {
  padding: 6px 7px;
  background-color: #424242;
  max-width: 233px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.4px;
  color: #ffffff;
}
.accordion-content {
  margin-left: 25px;
}
.accordion-content li {
  width: 40%;
  margin-bottom: 20px;
}
.policy-benefits {
  padding-left: 0;
}
.accordion-content .policy-benefits li {
  width: 100%;
  margin-bottom: 6px;
  color: #999;
  font-weight: 400;
  list-style: circle inside;
  padding-left: 0;
}
#accordion-inner h3,
#accordion-inner-2 h3,
#accordion-inner-3 h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #3d3d3d;
  border: none;
  background: url("../image/cheveron.png") no-repeat;
  background-position: center right;
  border-bottom: 2px solid #d4d5d7;
  padding-bottom: 15px;
  padding-top: 15px;
}
.create-claim {
  padding: 15px 0px;
}
.upload-file {
  display: flex;
}
.uploaded-image {
  margin-right: 15px;
}
.uploaded-file {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
span.file-name {
  display: inline-block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.4px;
  color: #3d7786;
  text-transform: uppercase;
}
span.file-date {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.4px;
  display: inline-block;
}
.accordion-content {
  height: auto !important;
}

/*  Pagination */
.pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  padding-left: 0;
}
.pagination li a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: center;
  color: #3d3d3d;
  text-decoration: none;
  margin: 0 6px;
  transition: 0.3s all ease-in-out;
}
.pagination li a:hover {
  color: #6ebec3;
}

li.prev {
  margin-right: 50px;
  padding-top: 5px;
}
li.next {
  margin-left: 50px;
  padding-top: 5px;
}

/* Message */
.message {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  max-width: 500px;
  margin: 0 0 1rem;
  font-weight: 400;
}
.message-primary {
  color: #3ca0bd;
  border: 1px solid #3ca0bd;
  background: rgb(60 160 189 / 18%);
}
.message-alert {
  color: #9e1700;
  border: 1px solid #9e1700;
  background: #9e17003d;
}
.message-warning {
  background: #fce4bd;
  color: #c17800;
  border: 1px solid #c17800;
}
.message-success {
  background: #c0ebd1;
  color: #58af7a;
  border: 1px solid #58af7a;
}

.btn {
  margin: 0;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s all ease-in-out;
  display: block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.4px;
  text-align: center;
  cursor: pointer;
}
.btn-default {
  color: #3d3d3d;
  border: solid 2px #424242;
}

.btn-primary {
  background: #3ca0bd;
  color: #fff;
  border: 2px solid #2d93b1;
}
.btn:hover {
  opacity: 0.7;
}
.btn-secondary {
  background: #f5a623;
  color: #3d3d3d;
  border: 2px solid #e2920c;
}

.buttton-wrapper .btn {
  margin-bottom: 15px;
}
.btn-disable {
  background: #e2e3e5;
  border: 2px solid #d6d8db;
  color: #999;
}
.btn-disable:hover {
  cursor: not-allowed;
  opacity: 1;
}
.search-table ul.selected {
  background: #eaeaea;
}
.dtp.hasDatepicker {
  background: url(../image/calendar-color.png) no-repeat;
  background-position: right 7px center;
  background-size: 29px;
}
.logo {
  margin-right: 45px;
  margin-left: -50px;
}

@media (max-width: 1600px) {
  .logo {
    margin-right: 45px;
    margin-left: 0;
  }
}
@media (max-width: 1199px) {
  .header-inner-wrapper {
    flex-wrap: nowrap;
  }
  header .container {
    width: 100%;
  }
  .container {
    max-width: 96%;
    margin: 0 auto;
    width: 100%;
  }
  header {
    width: 100%;
  }
  .header-left {
    width: 25%;
  }
  .header-center {
    width: 50%;
  }
  .header-search {
    margin: 0;
  }
  .header-right {
    width: 25%;
  }
  .header-icon {
    justify-content: flex-end;
  }
  .search-result-right {
    width: 67%;
    justify-content: flex-end;
  }
  .search-result-left {
    width: 33%;
  }
  .search-result-right .right-box {
    width: 100%;
    margin: 0 10px;
    margin-right: 0;
  }
  .search-table li:nth-child(2) {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .header-search {
    width: 240px;
  }
  .logo {
    margin-right: 45px;
    margin-left: 0;
  }
  .header-center {
    width: 40%;
    padding-left: 15px;
  }
}
@media (max-width: 991px) {
  .search-table ul {
    flex-direction: column;
    width: calc(100% / 3 - 30px);
    justify-content: flex-end;
    align-items: flex-start;
    background: #f1f1f1;
    margin: 5px;
    padding: 9px;
    border: 1px solid #e5e5e5;
  }
  .search-table {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .search-table li {
    margin: 7px 0;
  }
  .search-result-wrapper {
    flex-direction: column;
  }
  .search-result-left {
    width: 100%;
    margin-bottom: 15px;
  }
  .search-result-right {
    width: 100%;
    justify-content: flex-start;
  }
  .search-result-right .right-box {
    width: 33%;
    margin: 0 10px;
    margin-right: 10px;
    margin-left: 0;
  }
  .header-search {
    width: auto;
    max-width: 100%;
  }
  .header-center {
    width: 40%;
  }
  .header-right {
    width: 35%;
  }
  .logo {
    margin-right: 20px;
    margin-left: 0;
  }
  .header-center {
    width: 30%;
  }
  .header-left {
    width: 31%;
  }
  section.search-result {
    padding-top: 50px;
  }
  .search-result-wrapper {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .search-table ul {
    width: 43%;
  }
  .search-result-right {
    flex-wrap: wrap;
  }
  .search-result-right .right-box {
    width: 48%;
    margin: 0 10px 10px 0;
  }
  .filter.right-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .filter.right-box input[type="text"] {
    width: 90%;
  }
  .medibank.right-box {
    margin-right: 0;
    width: 49%;
  }
  .header-inner-wrapper {
    flex-wrap: wrap;
  }
  .header-center {
    width: 100%;
    order: 2;
  }
  .header-search {
    width: 80%;
    margin: 0 auto;
  }
  .header-left {
    width: 60%;
  }

  .action-tabs {
    margin-top: 130px;
  }
  .new-policy ul {
    flex-wrap: wrap;
  }
  .new-policy ul li {
    width: calc(100% / 2 - 20px);
  }
  .new-policy ul li:nth-child(2) {
    border-right: none;
  }
  .prev {
    margin-right: 0 !important;
    padding-top: 5px;
  }
  li.next {
    margin-left: 0px;
    padding-top: 5px;
  }
  .new-policy .action-btn-wrapper li {
    margin-right: 5px;
  }
  .header-right {
    width: 40%;
  }
  .header-center {
    padding-left: 0;
  }
  .logo {
    margin-right: 10px;
    margin-left: 0;
  }
  a.page-link.next,
  span.current.next {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .search-table ul {
    width: 100%;
  }
  li.prev {
    margin-right: 0;
    padding-top: 5px;
  }
  li.next {
    margin-left: 0;
    padding-top: 5px;
  }
  .sidebar.show-sidebar {
    right: -30px;
  }
  .sidebar {
    width: 300px;
    right: -200%;
  }
  .new-policy ul li {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #d4d5d7;
  }
  .new-policy ul li:last-child {
    border-bottom: none;
  }
  .search-result-left h3 {
    margin: 0;
    display: block;
    width: 100%;
  }
  .search-result-left p {
    width: 100%;
  }
  .filter.right-box {
    width: 93%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .header-search {
    width: 96%;
  }
  .header-left {
    width: 45%;
  }
  .header-icon li {
    height: 28px;
    width: 28px;
  }
  .medibank.right-box {
    width: 99%;
  }
  .search-result-right .right-box {
    width: 100%;
    margin: 0 0px 10px 0;
  }
  .dtp {
    width: calc(97% - 15px);
    padding-left: 15px;
  }
  .header-search {
    width: 97%;
    padding-right: 0;
    margin-right: auto;
    margin-left: 0;
  }
  .filter.right-box input[type="text"] {
    width: 85%;
  }
  .action-btn-wrapper ul li {
    border-bottom: none;
    padding: 0;
    margin-bottom: 10px;
    min-width: 200px;
    margin-right: 0;
  }
  .action-btn-wrapper ul {
    padding-left: 0;
    padding-top: 15px;
    padding-right: 0;
  }
  header {
    padding-bottom: 10px;
    box-shadow: 0 0 10px #ccc;
  }
  .medibank.right-box {
    width: 100%;
  }
  .filter.right-box input[type="text"] {
    width: calc(95% - 30px);
  }
  .search-result-left {
    flex-direction: column;
  }
  .ui-tabs-nav li {
    min-width: 150px;
    border: none !important;
  }
  .master-ul.active li:nth-child(2):before {
    left: -4px;
  }
  .header-icon img {
    max-width: 100%;
  }
  .header-right {
    width: 100%;
  }
  .header-left {
    width: 100%;
    padding-top: 10px;
  }
  .logo {
    width: 49%;
  }
  .header-icon {
    justify-content: center;
  }
  .header-icon li {
    height: 48px;
    width: 48px;
  }
  .header-icon {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .search-result-wrapper {
    margin-top: 140px;
  }
  .action-tabs {
    margin-top: 180px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
  .sidebar {
    width: 500px;
  }
  .sidebar ul li {
    display: flex;
    flex-direction: column;
  }
  .master-ul.active li:nth-child(2):before,
  .master-ul.in-active li:nth-child(2):before {
    top: 4px;
  }
  .filter input[type="text"] {
    width: 86%;
  }
}

.pagination {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.pagination a,
.pagination span {
  color: #666;
  padding: 5px 10px;
  text-decoration: none;
}

/* .pagination .current {
  color: #fff;
  background-color: #ff7182;
  border-color: #ff7182;
} */

a.page-link.prev,
span.current.prev {
  font-size: 0 !important;
  background: url("../image/prev-arrow.png") no-repeat;
  background-position: center;
  margin-right: 45px;
}

a.page-link.next,
span.current.next {
  font-size: 0 !important;
  background: url("../image/next-arrow.png") no-repeat;
  background-position: center;
  margin-left: 45px;
}
